body {
  background: #e9e9e9;
}

header {
  margin-bottom: 30px;
  text-align: center;
}
header h1 {
  color: #1f2261;
  font-size: 25px;
  font-weight: 700;
}
header p {
  margin-top: 10px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
}

footer {
  margin-top: 29px;
  text-align: center;
}
footer p {
  color: #a1a1a1;
  font-size: 16px;
  font-weight: 400;
}
footer p:nth-of-type(2) {
  margin-top: 13px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

label {
  color: #989898;
  font-size: 15px;
  font-weight: 400;
}
input {
  border: none;
  border-radius: 7px;
  background: #efefef;
  color: #3c3c3c;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
}

.select-wrapper {
  position: relative;
  width: 100px;
}

.select-wrapper::before,
.select-wrapper::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 5px;
  pointer-events: none;
}

.select-wrapper::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  transform: rotate(45deg);
  right: 14px;
  top: calc(50% - 5px);
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
  padding: 0.675em 1em 0.675em 0;
  background-color: #fff;
  border: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #26278d;
  font-size: 20px;
  font-weight: 500;
}

.tasks {
  width: 600px;
  position: absolute;
  bottom: 32px;
  left: 32px;
  border: 1px solid #fbbf24;
  border-radius: 5px;
  background-color: #ffedd5;
  padding: 1rem;
}
.no-width {
  width: auto;
}
.tasks ol {
  margin-top: 1rem;
  margin-left: 2rem;
}
.tasks li {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
.tasks pre {
  display: inline;
  font-family: monospace;
  background-color: #fbbf24;
  padding: 0.25rem;
}
.tasks button {
  cursor: pointer;
  float: right;
  border: none;
  background-color: transparent;
  font-size: 30px;
}
.tasks .left {
  float: left;
}
