.selectWrapper {
  position: relative;
}

.selectWrapper::before,
.selectWrapper::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.selectWrapper::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  transform: rotate(45deg);
  right: 14px;
  top: calc(50% - 5px);
}

.select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #26278d;
  font-size: 20px;
  font-weight: 500;
}
